<html>
  <head>
    <title>Silk Component 0.1.0</title>  
  </head>
  <body>
  <h1>Silk Component 0.1.0</h1>
  
    <h2>XML Sample</h2>
    <pre>
      &lt;component xmlns="http://www.bheap.co.uk/resource/xml/ns/silk/component/0.1.0"&gt;
        &lt;silk-version&gt;0.1.0&lt;/silk-version&gt;
        &lt;package&gt;com.bheap.silk&lt;/package&gt;
        &lt;id&gt;component-missing&lt;/id&gt;
        &lt;description&gt;A default missing component placeholder/warning.&lt;/description&gt;
      &lt;/component&gt;
    </pre>

    <h2>Schema</h2>
    <a href="component.rnc" title="RELAX NG Grammar">RELAX NG Grammar</a>
  </body>
</html>
